In [20]:
!apt-get install python-dev libxml2-dev libxslt1-dev antiword unrtf poppler-utils pstotext tesseract-ocr \
flac ffmpeg lame libmad0 libsox-fmt-mp3 sox libjpeg-dev swig libpulse-dev
!pip install textract

Reading package lists... Done
Building dependency tree
Reading state information... Done
libjpeg-dev is already the newest version (8c-2ubuntu8).
python-dev is already the newest version (2.7.15~rc1-1).
antiword is already the newest version (0.37-11build1).
flac is already the newest version (1.3.2-1).
lame is already the newest version (3.100-2).
pstotext is already the newest version (1.9-6build1).
swig is already the newest version (3.0.12-1).
tesseract-ocr is already the newest version (4.00~git2288-10f4998a-2).
unrtf is already the newest version (0.21.9-clean-3).
libpulse-dev is already the newest version (1:11.1-1ubuntu7.11).
libxml2-dev is already the newest version (2.9.4+dfsg1-6.1ubuntu1.4).
libxslt1-dev is already the newest version (1.1.29-5ubuntu0.2).
poppler-utils is already the newest version (0.62.0-2ubuntu2.12).
ffmpeg is already the newest version (7:3.4.8-0ubuntu0.2).
libmad0 is already the newest version (0.15.1b-9ubuntu18.04.1).
libsox-fmt-mp3 is already the newest version (14.4.2-3ubuntu0.18.04.1).
sox is already the newest version (14.4.2-3ubuntu0.18.04.1).
0 upgraded, 0 newly installed, 0 to remove and 37 not upgraded.
Requirement already satisfied: textract in /usr/local/lib/python3.7/dist-packages (1.6.4)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from textract) (3.0.4)
Requirement already satisfied: extract-msg<=0.29.* in /usr/local/lib/python3.7/dist-packages (from textract) (0.28.7)
Requirement already satisfied: argcomplete~=1.10.0 in /usr/local/lib/python3.7/dist-packages (from textract) (1.10.3)
Requirement already satisfied: six~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from textract) (1.12.0)
Requirement already satisfied: python-pptx~=0.6.18 in /usr/local/lib/python3.7/dist-packages (from textract) (0.6.21)
Requirement already satisfied: pdfminer.six==20191110 in /usr/local/lib/python3.7/dist-packages (from textract) (20191110)
Requirement already satisfied: EbookLib==0.* in /usr/local/lib/python3.7/dist-packages (from textract) (0.17.1)
Requirement already satisfied: beautifulsoup4~=4.8.0 in /usr/local/lib/python3.7/dist-packages (from textract) (4.8.2)
Requirement already satisfied: docx2txt~=0.8 in /usr/local/lib/python3.7/dist-packages (from textract) (0.8)
Requirement already satisfied: SpeechRecognition~=3.8.1 in /usr/local/lib/python3.7/dist-packages (from textract) (3.8.1)
Requirement already satisfied: xlrd~=1.2.0 in /usr/local/lib/python3.7/dist-packages (from textract) (1.2.0)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from EbookLib==0.*->textract) (4.2.6)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20191110->textract) (2.4.0)
Requirement already satisfied: pycryptodome in /usr/local/lib/python3.7/dist-packages (from pdfminer.six==20191110->textract) (3.11.0)
Requirement already satisfied: soupsieve>=1.2 in /usr/local/lib/python3.7/dist-packages (from beautifulsoup4~=4.8.0->textract) (2.3.1)
Requirement already satisfied: imapclient==2.1.0 in /usr/local/lib/python3.7/dist-packages (from extract-msg<=0.29.*->textract) (2.1.0)
Requirement already satisfied: olefile>=0.46 in /usr/local/lib/python3.7/dist-packages (from extract-msg<=0.29.*->textract) (0.46)
Requirement already satisfied: compressed-rtf>=1.0.6 in /usr/local/lib/python3.7/dist-packages (from extract-msg<=0.29.*->textract) (1.0.6)
Requirement already satisfied: tzlocal>=2.1 in /usr/local/lib/python3.7/dist-packages (from extract-msg<=0.29.*->textract) (4.1)
Requirement already satisfied: ebcdic>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from extract-msg<=0.29.*->textract) (1.1.1)
Requirement already satisfied: Pillow>=3.3.2 in /usr/local/lib/python3.7/dist-packages (from python-pptx~=0.6.18->textract) (7.1.2)
Requirement already satisfied: XlsxWriter>=0.5.7 in /usr/local/lib/python3.7/dist-packages (from python-pptx~=0.6.18->textract) (3.0.2)
Requirement already satisfied: backports.zoneinfo in /usr/local/lib/python3.7/dist-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (0.2.1)
Requirement already satisfied: pytz-deprecation-shim in /usr/local/lib/python3.7/dist-packages (from tzlocal>=2.1->extract-msg<=0.29.*->textract) (0.1.0.post0)
Requirement already satisfied: tzdata in /usr/local/lib/python3.7/dist-packages (from pytz-deprecation-shim->tzlocal>=2.1->extract-msg<=0.29.*->textract) (2021.5)

In [21]:
# Setup
!pip install -q wordcloud
import wordcloud

import nltk
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger') 

import pandas as pd
import matplotlib.pyplot as plt
import io
import unicodedata
import numpy as np
import re
import string

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

In [22]:
import os
import uuid
import textract
import pandas as pd
import numpy as np
import re
import unicodedata
import sys
import nltk
#nltk.download()

In [23]:
# original resume directory
source_directory = "/content/sample_data/Resumes"

In [24]:
df = pd.DataFrame()

In [27]:
source_directory = "/content/sample_data/Resumes"
# create training directory to store resumes converted in text format
training_directory = os.path.join("/content/sample_data", "train data")

for process_file in  os.listdir(source_directory):
  if not process_file.startswith('.'):
    file, extension = os.path.splitext(process_file)
    
    # We create a new text file name by concatenating the .txt extension to file UUID
    dest_file_path = file + '.txt'
    #print(file, "  ",extension,"  "+dest_file_path)
    #extract text from the file
    content = textract.process(os.path.join(source_directory, process_file))

    df = df.append([[content]],ignore_index=True)
    #print(df)
    
    # We create and open the new and we prepare to write the Binary Data which is represented by the wb - Write Binary
    write_text_file = open(os.path.join(training_directory, dest_file_path), "wb")

    # write the content 
    write_text_file.write(content)
    # close the newly created file
    write_text_file.close()

In [28]:
ll

total 4
drwxr-xr-x 1 root 4096 Dec  1 16:39 sample_data/

In [29]:
import os
import uuid
import textract
import pandas as pd
import numpy as np
import re
import unicodedata
import sys
import nltk
nltk.download()

NLTK Downloader
---------------------------------------------------------------------------
    d) Download   l) List    u) Update   c) Config   h) Help   q) Quit
---------------------------------------------------------------------------
Downloader> q

True

In [30]:
# original resume directory
source_directory = "/content/sample_data/Resumes"

In [31]:
df =pd.DataFrame()

In [32]:
source_directory = "/content/sample_data/Resumes"
# create training directory to store resumes converted in text format
training_directory = os.path.join("/content/sample_data", "train data")

for process_file in  os.listdir(source_directory):
  if not process_file.startswith('.'):
    file, extension = os.path.splitext(process_file)
    
    # We create a new text file name by concatenating the .txt extension to file UUID
    dest_file_path = file + '.txt'
    #print(file, "  ",extension,"  "+dest_file_path)
    #extract text from the file
    content = textract.process(os.path.join(source_directory, process_file))

    df = df.append([[content]],ignore_index=True)
    
    # We create and open the new and we prepare to write the Binary Data which is represented by the wb - Write Binary
    write_text_file = open(os.path.join(training_directory, dest_file_path), "wb")

    # write the content 
    write_text_file.write(content)
    # close the newly created file
    write_text_file.close()

In [33]:
df.head()

                                                   0
0  b'\nArun Venu\n\n\n  EXPERIENCE SUMMARY\n\n\n ...
1  b'Mooraboyina Guravaiah\n\nWorkday Integration...
2  b'Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\...
3  b'HARIPRIYA BATTINA \n\nExperience as UI Devel...
4  b"\nMaryala Vinay Reddy\n\nProfessional Summar...

In [34]:
df.tail()

                                                    0
74  b'\n\nCareer objective\n\n\nA rewarding opport...
75  b'PeopleSoft Administration\n\n \n\nVivekanand...
76  b'Pranish Sonone\n\n\t\t\n\n\n\n\n\n\n\n\n\nCa...
77  b'\n                              CURRICULUM V...
78  b'Workday HCM  Techno functional Consultant   ...

In [35]:
df.columns =['Resumes']

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 1 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Resumes  79 non-null     object
dtypes: object(1)
memory usage: 760.0+ bytes

In [37]:
df['Resumes'] =df['Resumes'].apply(lambda x : x.decode('utf-8'))

In [38]:
df.head()

                                             Resumes
0  \nArun Venu\n\n\n  EXPERIENCE SUMMARY\n\n\n   ...
1  Mooraboyina Guravaiah\n\nWorkday Integration S...
2  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...
3  HARIPRIYA BATTINA \n\nExperience as UI Develop...
4  \nMaryala Vinay Reddy\n\nProfessional Summary:...

In [39]:
## Exporting the data into csv files
df.to_csv('resumes.csv',encoding ='utf-8',index =False)

In [40]:
df =pd.read_csv("resumes.csv", encoding='utf-8')

In [41]:
#df.tail(10)
df.head(10)

                                             Resumes
0  \nArun Venu\n\n\n  EXPERIENCE SUMMARY\n\n\n   ...
1  Mooraboyina Guravaiah\n\nWorkday Integration S...
2  Priyabrata Hota\n\n\n\n\n\nCAREER OBJECTIVE\t\...
3  HARIPRIYA BATTINA \n\nExperience as UI Develop...
4  \nMaryala Vinay Reddy\n\nProfessional Summary:...
5  Kotani Durga Prasad\n\n\n\n\n\nObjective:\n\n\...
6  Ranga Gaganam  \n\n\n\n \n\nProfessional\n\n \...
7  \n                      PeopleSoft Database Ad...
8  Ui-Developer/ React JS Developer \n\nNAME: KRI...
9  \nHIMA.MENDU\n\n\n\nCareer Objective\nTo conti...

In [42]:
df.duplicated(subset=None,keep ='first')

0     False
1     False
2     False
3     False
4     False
      ...
74    False
75    False
76    False
77    False
78    False
Length: 79, dtype: bool

In [43]:
df.drop_duplicates(inplace=True)

In [44]:
df.shape

(79, 1)

In [45]:
#Data Cleaning
#dictionary of punctuation marks
import sys
import unicodedata
keys = [i for i in range(sys.maxunicode) if unicodedata.category(chr(i)).startswith('P')]
# punctuation = dict.fromkeys(i for i in range(sys.maxunicode) if unicodedata.category(chr(i)).startswith('P'))
punctuation = dict.fromkeys(keys,' ')
#dictionary of new_line '\n' and tab '\t'
new_line_tab = str.maketrans({chr(10): ' ', chr(9): ' '})

In [47]:
import re
def preprocessor(text):
    text = re.sub('\n', ' ', text) # remove new lines
    text = re.sub('\t', ' ', text)
    text = re.sub('❖',"",text) # remove tabs
    text = re.sub('@[A-Za-z0–9]+', ' ', text) #Removing tag(@)
    text = re.sub('#', ' ', text) # Removing hashtag(#)
#     text = re.sub('https?:\/\/\S+', ' ', text) # Removing links
    text = re.sub(r'http\S+', ' ', text) #remove https links
    text = re.sub(':', ' ', text) # remove tabs
    text = re.sub('<[^<]+?>', ' ', text) #remove html tags
    text = re.sub(r'[^\w]', ' ', text) #remove non alphanumerc characters
#     text = re.sub('httpS+s*', ' ', text)  # remove URLs
#     text = re.sub('RT|cc', ' ', text)  # remove RT and cc
#     text = re.sub('#S+', '', text)  # remove hashtags
#     text = re.sub('@S+', '  ', text)  # remove mentions
#     text = re.sub('[%s]' % re.escape("""!"#$%&'()*+,-./:;<=>?@[]^_`{|}~"""), ' ', text)  # remove punctuations
    text = text.translate(punctuation)
#     text = re.sub('s+', ' ', text)  # remove extra whitespace
    text = text.lower()
    text = text.strip()
    text = text.translate(new_line_tab)
    return text
df['Resumes'] = df.Resumes.apply(lambda x: preprocessor(x))

In [48]:
df.head()

                                             Resumes
0  arun venu     experience summary         exper...
1  mooraboyina guravaiah  workday integration spe...
2  priyabrata hota      career objective      pur...
3  haripriya battina   experience as ui developer...
4  maryala vinay reddy  professional summary     ...

In [52]:
## Word Tokenization
##getting the entire Resume text
corpus =' ';
for i in range(0,len(df)):
  corpus = corpus + df['Resumes'][i]

In [55]:
corpus[500:2000]

' activities        good experience in upgrade  implementation modules        good experience in all phases of the application development cycle         design  coding  testing  maintenance and documentation        worked on creating custom reports using bi publisher  sqr  and ps       query        worked on testing tool ptf peoplesoft testing framework        excellent capability to explore  learn and understand newer business       domains and technologies        good communication skills      software proficiency    skills                  app package  application engine  people code                               sqr  bip  ps query                                 domain knowledge        financial services  retail  healthcare             development tools       peoplesoft application designer                    data management         data mover                                         integration tools       integration broker                                 database                oracle 11g  12c                                        working experience        currently working as peoplesoft technical consultant since december       2016 till date in wipro technologies      educational qualification         bca  computer applications  from guru gobind singh indraparastha       university        m tech  software engineering  from bits pilani at wipro wase program    professional experience    project       tools upgrade 8 58                                           customer'

In [56]:
# removing the extra white spaces in the corpus
import re
corpus =re.sub(' + ',' ',corpus)

In [57]:
corpus[500:2000]

'good experience in all phases of the application development cycle design coding testing maintenance and documentation worked on creating custom reports using bi publisher sqr and ps query worked on testing tool ptf peoplesoft testing framework excellent capability to explore learn and understand newer business domains and technologies good communication skills software proficiency skills app package application engine people code sqr bip ps query domain knowledge financial services retail healthcare development tools peoplesoft application designer data management data mover integration tools integration broker database oracle 11g 12c working experience currently working as peoplesoft technical consultant since december 2016 till date in wipro technologies educational qualification bca computer applications from guru gobind singh indraparastha university m tech software engineering from bits pilani at wipro wase program professional experience project tools upgrade 8 58 customer credit suisse domain financial services role hcm technical consultant period feb 2022 june 2021 description credit suisse group ag is a global investment bank and financial services firm founded and based in switzerland responsibilit analysis of all customizations for ess and mss pages for ies fluid implementation converting ess pages to fluid pages like name change home and mailing address swiss payslip phone number email address emergency contacts and ethnic groups converting mss pages to fluid dat'

In [59]:
corpus[500:1000]

'good experience in all phases of the application development cycle design coding testing maintenance and documentation worked on creating custom reports using bi publisher sqr and ps query worked on testing tool ptf peoplesoft testing framework excellent capability to explore learn and understand newer business domains and technologies good communication skills software proficiency skills app package application engine people code sqr bip ps query domain knowledge financial services retail healt'

In [61]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [68]:
from nltk.tokenize import word_tokenize
tokens =word_tokenize(corpus)
len(tokens)

57664

In [67]:
tokens[0:5]

['arun', 'venu', 'experience', 'summary', 'experience']

In [70]:
import nltk
nltk.download("stopwords")
nltk.download("wordnet")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [77]:
stopwords = nltk.corpus.stopwords.words('english')
words_new =[]
for word in tokens:
  if word not in stopwords:
    words_new.append(word)

In [78]:
len(words_new)

44035